<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

	<!-- DB -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://10.232.98.160/mmonit?useUnicode=true&amp;characterEncoding=utf8</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>changeme</value>
		</property>
		<!-- 连接池启动时的初始值 -->
	 	<property name="initialSize" value="1"/>
	 	<!-- 连接池的最大值 -->
	 	<property name="maxActive" value="500"/>
	 	<!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
	 	<property name="maxIdle" value="2"/>
	 	<!--  最小空闲值.当空闲的连接数少于该值时，连接池就会预申请一些连接，以避免洪峰来时再申请而造成的性能开销 -->
	 	<property name="minIdle" value="1"/>		
	</bean>
	
	<bean id="jdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate" abstract="false" lazy-init="false" >
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
    
    <!-- 配置事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
	</bean>
	
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*Operator</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<property name="transactionInterceptor" ref="transactionInterceptor"></property>
	</bean>

	<!-- DAO层配置 注入jdbcTemplate -->
	<bean id="monitDAO" class="com.mmonit.DaoImpl.MonitDaoImpl">
		<property name="jt">
          <ref bean="jdbcTemplate" />
       </property>
	</bean>
	
	<bean id="processDAO" class="com.mmonit.DaoImpl.ProcessDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="remoteHostDAO" class="com.mmonit.DaoImpl.RemoteHostDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="remotePortDAO" class="com.mmonit.DaoImpl.RemotePortDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	<bean id="systemDAO" class="com.mmonit.DaoImpl.SystemDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="monitSerBusDAO" class="com.mmonit.DaoImpl.MonitSerBusDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="monitEventDAO" class="com.mmonit.DaoImpl.MonitEventDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="fileDAO" class="com.mmonit.DaoImpl.FileDaoImpl">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<!-- 将DAO层注入到Operator层 也就是服务层 -->
    <bean name="monitOperator" class="com.mmonit.operatorImpl.MonitOperatorImpl" >
            <property name="monitDao">
                    <ref bean="monitDAO" />
            </property>
    </bean>
    
    <bean name="processOperator" class="com.mmonit.operatorImpl.ProcessOperatorImpl" >
            <property name="processDao">
                    <ref bean="processDAO" />
            </property>
    </bean>
    
    <bean name="remoteHostOperator" class="com.mmonit.operatorImpl.RemoteHostOperatorImpl" >
            <property name="remoteHostDao">
                    <ref bean="remoteHostDAO" />
            </property>
    </bean> 
    
    <bean name="remotePortOperator" class="com.mmonit.operatorImpl.RemotePortOperatorImpl">
    		<property name="remotePortDao">
    			<ref bean="remotePortDAO"/>
    		</property>
    </bean>
    
    <bean name="systemOperator" class="com.mmonit.operatorImpl.SystemOperatorImpl" >
            <property name="systemDao">
                    <ref bean="systemDAO" />
            </property>
    </bean> 
    
    <bean name="monitSerBusOperator" class="com.mmonit.operatorImpl.MonitSerBusOperatorImpl">
    		<property name="monitSerBusDao">
    				<ref bean="monitSerBusDAO" />
    		</property>
    </bean>
    
    <bean name="monitEventOperator" class="com.mmonit.operatorImpl.MonitEventOperatorImpl" >
            <property name="monitEventDao">
                    <ref bean="monitEventDAO" />
            </property>
    </bean> 
    
    <bean name="fileOperator" class="com.mmonit.operatorImpl.FileOperatorImpl">
    		<property name="fileDao">
    				<ref bean="fileDAO" />
    		</property>
    </bean>
    
    <!-- activeMQ   采用队列的方式 -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"></property>
    </bean>
    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="com.mmonit.activemqTask"></constructor-arg>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="defaultDestination" ref="destination"></property>
        <property name="receiveTimeout" value="600"></property>
    </bean>
    <bean id="sender" class="com.mmonit.activemqTask.SenderMonitEvent">
        <property name="jmsTemplate" ref="jmsTemplate"></property>
    </bean>
    <bean id="receiver" class="com.mmonit.activemqTask.ReceiverMonitEvent">
        <property name="jmsTemplate" ref="jmsTemplate"></property>
    </bean>
    
    <!-- 将事件的发送和收取添加到message处 -->
    <bean name="monitEventMessage" class="com.mmonit.messageImpl.MonitEventMessageImpl">
    		<property name="sender">
    			<ref bean="sender" />
    		</property>
    		<property name="receiver">
    			<ref bean="receiver" />
    		</property>
    </bean>
    
    <!-- job -->   
    
	<!-- 要调用的工作类 -->
	<bean id="systemJobTask" class="com.mmonit.jobTask.SystemJobTask">
		<property name="jt">
          <ref bean="jdbcTemplate" />
       </property>
	</bean>
	
	<!-- 定义调用对象和调用方法 -->
	
	<bean id="jobtask_90sec" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="systemJobTask"/>
		</property>
		<property name="targetMethod">
			<value>_90secDetectHost</value>
		</property>
	</bean>
	
	<bean id="jobtask_15min" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的目标类 -->
		<property name="targetObject">	
				<ref bean="systemJobTask"/>
		</property>
		
		<!-- 调用的目标方法 -->
		<property name="targetMethod">
				<value>_15minSystemJob</value>		
		</property>
	</bean>
	
	<bean id="jobtask_1hour" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的目标类 -->
		<property name="targetObject">	
				<ref bean="systemJobTask"/>
		</property>
		
		<!-- 调用的目标方法 -->
		<property name="targetMethod">
				<value>_1hourSystemJob</value>		
		</property>
	</bean>
	
	<bean id="jobtask_1day" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的目标类 -->
		<property name="targetObject">	
				<ref bean="systemJobTask"/>
		</property>
		
		<!-- 调用的目标方法 -->
		<property name="targetMethod">
				<value>_1daySystemJob</value>		
		</property>
	</bean>
	
	<bean id="jobtask_2day" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="systemJobTask"/>
		</property>		
		<property name="targetMethod">
			<value>_2dayDeleteNotStaticData</value>
		</property>
	</bean>
	
	<bean id="jobtask_4day" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="systemJobTask"/>
		</property>
		<property name="targetMethod">
			<value>_4dayDeleteStatic15MData</value>
		</property>
	</bean>
	
	<bean id="jobtask_7day" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="systemJobTask"/>
		</property>
		<property name="targetMethod">
			<value>_7dayDeleteStaticNot15MData</value>
		</property>
	</bean>
	
	<!-- 定义定时器 15min 1hour 1day 2day 4day 7day-->
	
	<bean id="jobTrigger_90sec_checkhost" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_90sec"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>30 */1 * * * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_15min_sys" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_15min"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 15/15 * * * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_1hour_sys" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_1hour"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 0 1/1 * * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_1day_sys" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_1day"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 0 0 1/1 * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_2day_delete" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_2day"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 0 0 2/2 * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_4day_delete" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_4day"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 0 0 4/4 * ?</value>
		</property>
	</bean>
	
	<bean id="jobTrigger_7day_delete" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask_7day"/>
		</property>
		
		<!-- cron 表达式 -->
		<property name="cronExpression">
			<value>0 0 0 7/7 * ?</value>
		</property>
	</bean>

	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="quartzProperties">
   			<props>
   				<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
    			<prop key="org.quartz.threadPool.threadCount">8</prop>
   			</props>
  		</property>
		<property name="triggers">
			<list>
				<ref bean="jobTrigger_90sec_checkhost" />
				<ref bean="jobTrigger_15min_sys" />
				<ref bean="jobTrigger_1hour_sys" />
				<ref bean="jobTrigger_1day_sys" />
				<ref bean="jobTrigger_2day_delete" />
				<ref bean="jobTrigger_4day_delete" />
				<ref bean="jobTrigger_7day_delete" />
			</list>
		</property>
	</bean> 

</beans>